/**************************** CSS Constanta */

button, input {
    border: 0;
}

p {
    font-family: 'Saira', sans-serif;
}

.background-red {
    background-color: #ED3237;
}

/**************************** TOP */

#header .container, #hero .container {
    max-width: 900px;
}

@media (min-width: 950px) {
    #header .logo img {
        transform: scale(1.5);
    }
}

.google-translate {
    display: block;
    position: relative;
    margin-top: 3px;
}

.google-translate select {
    position: absolute;
    height: 20px;
    top: -5px;
    border: 1px solid #ED3237;
    background-color: #ED3237;
    color: #f9f9f9;
}

.google-translate select:hover {
    background-color: #ff5c5c;
}

@media (max-width: 950px) {
    .google-translate {
        position: absolute;
        left: 33%;
        top: 25px;
    }
}

/**************************** Quadros */

.quadros .col-lg-6 {
    margin: 0;
    padding: 0;
}

.quadros .col-lg-6 img {
    width: 100%;
}

.quadros .col-lg-6 img:hover {
    opacity: 0.6;
}

.quadros .numeros {
    background-color: #ED3237;
    height: 300px;
}

.quadros .numeros h3 {
    color: #fff;
    font-weight: 900;
}

.quadros .numeros .instal {
    display: block;
    position: relative;
    width: 18em;
    top: 4em;
    left: 22em;
}

@media(max-width:900px) {
    .quadros .numeros .instal {
        left: 25%;
    }

    .numeros {
        display: none;
    }
}

/**************************** Recado */

#recado {
    width: 100%;
    height: 50vh;
    position: relative;
    background: #fefefe;
}

#recado .container {
    color: #555;
    text-align: center;
}

#recado .container h2 {
    font-weight: 700;
    color: #ED3237;
}

#recado .container p {
    font-size: 14px;
}

#recado .container button {
    font-size: 12px;
    padding: 10px;
    width: 150px;
    background-color: #ED3237;
    color: #fff;
    border-radius: 2px;
}

#recado .container button:hover {
    background-color: #bbb;
}

/**************************** Noticias */


#noticias {
    width: 100%;
    position: relative;
    background: url("../img/background/cinza.jpg") center center;
    background-size: cover;
}

#noticias:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#noticias .row.noticias {
    position: relative;
    margin: 0 auto;
    width: 960px;
}

#noticias .box {
    padding: 0;
    margin: 0;
    box-shadow: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    height: 500px;
    text-align: left;
    margin-bottom: 20px;
}

#noticias .box img {
    width: 101%;
}

#noticias .box .content {
    padding: 30px;
    text-align: center;
}

#noticias .box button {
    position: absolute;
    padding: 10px;
    width: 130px;
    background-color: #ED3237;
    bottom: 40px;
    left: 40px;
    color: #fff;
}

#noticias .box button:hover {
    background-color: #ff5c5c;
}

#noticias hr {
    border: 3px solid rgba(255, 0, 0, 1) !important;
    background-color: rgba(255, 0, 0, 1) !important;
    position: relative;
    margin: 0 auto;
    top: 35px;
    width: 10em;
    opacity: 1;
}

#noticias h1 {
    font-weight: 900;
    font-size: 30px;
    position: relative;
    margin: 0 auto;
    width: 10em;
    top: 6px;
    text-align: center;
}

#noticias .section-title p {
    font-size: 25px;
    font-style: normal;
    text-align: center;
    color: #ED3237;
}

#noticias p {
    font-size: 13px;
    font-style: normal;
    text-align: left;
}

#noticias .maisnews {
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: #ED3237;
    color: #fff;
    margin-top: 50px;
    padding: 10px;
}

#noticias .maisnews:hover {
    background-color: #ff5c5c;
}

@media(max-width:900px) {
    #noticias .row.noticias {
        width: 100%;
    }
}

/**************************** Pages */

#hero.sobre .carousel-item::before {
    content: "";
    background-color: rgba(255, 255, 255, 0);
}

#hero.sobre hr {
    border: 0.3px solid #f00;
    background-color: #f00;
    opacity: 1;
    width: 15em;
    float: left;
    margin-left: -50px;
    margin-right: 50px;
}

#hero.sobre h2 {
    color: #444;
    font-weight: 200;
    font-size: 40px;
    letter-spacing: 15px;
}


#sobre-frase {
    width: 100%;
    position: relative;
    background: url("../img/background/cinza.jpg");
    background-position: top;
    background-size: cover;
}

#sobre-frase h1{
    color: #ED3237;
    font-weight: 600;
    text-align: center;
}

#sobre-gif img{
    width: 100%;
}

#sobre-mercado .col-lg-4{
    background-color: #ccc;
    border: 1px solid #444;
}

/**************************** Footer */

#footer .row.footer {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}

@media(max-width:900px) {
    #maps .contato1, #maps .contato2, #maps .contato3 {
        margin-top: 20px;
    }

    #maps .row2 {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
        margin-left: 6%;
    }

    #footer .row.footer {
        max-width: 100%;
    }
}

#footer .row.footer h4 {
    opacity: 0.7;
}

#footer .row.footer i, #footer .footer-top .footer-links ul i {
    color: #444;
}

#footer .row.footer .social {
    text-align: right;
}

#footer p {
    font-size: 12px;
}

#footer a {
    color: #fff
}

#footer a.b2s {
    font-size: 12px;
}