/**************************** CSS Constanta */

button, input {
    border: 0;
}

p {
    font-family: 'Saira', sans-serif;
}

.background-red {
    background-color: #ED3237;
}

.erro404 {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: #ED3237;
    color: #fff;
    padding: 20px;
}

.vermelho {
    color: #ED3237;    
}
.cinza {
    color: #efefef
}
.preto {
    color: #000
}
/**************************** TOP */

@media (min-width: 950px) {
    #hero .vdesk{
        width: 100%;
    }
    #hero .vmobi{
        display: none;
    }
}

@media (max-width: 950px) {
    #hero {
        height: 95vh;
    }
    #hero .vdesk{
        display: none;
    }
    #hero .vmobi{
        width: 100%;
    }
}


#header .container, #hero .container {
    max-width: 900px;
}

@media (min-width: 950px) {
    #header .logo img {
        transform: scale(1.5);
    }
}

.google-translate {
    display: block;
    position: relative;
    margin-top: 3px;
}

.google-translate select {
    position: absolute;
    height: 20px;
    top: -5px;
    border: 1px solid #ED3237;
    background-color: #ED3237;
    color: #f9f9f9;
}

.google-translate select:hover {
    background-color: #ff5c5c;
}

@media (max-width: 950px) {
    .google-translate {
        position: absolute;
        left: 33%;
        top: 25px;
    }
}

/**************************** Quadros */

.quadros .col-lg-6 {
    margin: 0;
    padding: 0;
}

.quadros .col-lg-6 img {
    width: 100%;
}

.quadros .quadro-texto {
    background-size: contain;
}

.quadros .quadro-texto .qicone {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100px;
    margin-top: 100px;
}

.quadros .quadro-texto h2 {
    text-align: center;
}

.quadros .numeros {
    background-color: #ED3237;
    height: 300px;
}

.quadros .numeros h3 {
    color: #fff;
    font-weight: 900;
}

.quadros .numeros .instal {
    display: block;
    position: relative;
    width: 18em;
    top: 4em;
    left: 22em;
}

.timeline .qrcode{
    position: absolute;
    left: 85%;
    top:55%;
    width: 100px;
}

@media(max-width:900px) {
    .quadros .numeros .instal {
        left: 25%;
    }

    .numeros {
        display: none;
    }
    .timeline .qrcode{
        position: relative;
        left: 55%;
        top:55%;
        width: 100px;
    }
}



/**************************** Recado */

#recado {
    width: 100%;
    height: 50vh;
    position: relative;
    background: #fefefe;
}

#recado .container {
    color: #555;
    text-align: center;
}

#recado .container h2 {
    font-weight: 700;
    color: #ED3237;
}

#recado .container p {
    font-size: 14px;
}

#recado .container button {
    font-size: 12px;
    padding: 10px;
    width: 150px;
    background-color: #ED3237;
    color: #fff;
    border-radius: 2px;
}

#recado .container button:hover {
    background-color: #bbb;
}

/**************************** Noticias */


#noticias {
    width: 100%;
    position: relative;
    background: url("../img/background/cinza.jpg") center center;
    background-size: cover;
}

#noticias:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#noticias .row.noticias {
    position: relative;
    margin: 0 auto;
    width: 960px;
}

#noticias .box {
    padding: 0;
    margin: 0;
    box-shadow: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    height: 500px;
    text-align: left;
    margin-bottom: 20px;
}

#noticias .box img {
    width: 101%;
}

#noticias .box .content {
    padding: 30px;
    text-align: center;
}

#noticias .box button {
    position: absolute;
    padding: 10px;
    width: 130px;
    background-color: #ED3237;
    bottom: 40px;
    left: 40px;
    color: #fff;
}

#noticias .box button:hover {
    background-color: #ff5c5c;
}

#noticias hr {
    border: 3px solid rgba(255, 0, 0, 1) !important;
    background-color: rgba(255, 0, 0, 1) !important;
    position: relative;
    margin: 0 auto;
    top: 35px;
    width: 10em;
    opacity: 1;
}

#noticias h1 {
    font-weight: 900;
    font-size: 30px;
    position: relative;
    margin: 0 auto;
    width: 10em;
    top: 6px;
    text-align: center;
}

#noticias .section-title p {
    font-size: 25px;
    font-style: normal;
    text-align: center;
    color: #ED3237;
}

#noticias p {
    font-size: 13px;
    font-style: normal;
    text-align: left;
}

#noticias .maisnews {
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: #ED3237;
    color: #fff;
    margin-top: 50px;
    padding: 10px;
}

#noticias .maisnews:hover {
    background-color: #ff5c5c;
}

@media(max-width:900px) {
    #noticias .row.noticias {
        width: 100%;
    }
}

/**************************** Pages */

#hero.sobre .carousel-item::before {
    content: "";
    background-color: rgba(255, 255, 255, 0);
}

#hero.sobre hr {
    border: 0.3px solid #f00;
    background-color: #f00;
    opacity: 1;
    width: 15em;
    float: left;
    margin-left: -50px;
    margin-right: 50px;
}

#hero.sobre h2 {
    color: #444;
    font-weight: 200;
    font-size: 40px;
    letter-spacing: 15px;
}


#sobre-frase {
    width: 100%;
    position: relative;
    background: url("../img/background/cinza.jpg");
    background-position: top;
    background-size: cover;
}

#sobre-frase h1 {
    color: #ED3237;
    font-weight: 600;
    text-align: center;
}

#sobre-gif img {
    width: 100%;
}

.sobre-mercado {
    padding-bottom: 100px;
}

.sobre-mercado h2 {
    color: #444;
    font-size: 25px;
    text-align: center;
    font-weight: 800;
}

.sobre-mercado hr {
    margin: 0 auto;
    width: 10em;
    border: 0.1px solid #000;
    opacity: 0.5;
    margin-top: 25px;
}

.sobre-mercado .box-mercado {
    margin: 0 auto;
    width: 50em;
}

.sobre-mercado .box-mercado .coluna1 {
    margin: 0;
    padding: 0;
    width: 33%;
}

.sobre-mercado .box-mercado .coluna2 {
    margin: 0;
    padding: 0;
    width: 66%;
    padding-left: 40px;
}

.sobre-mercado .sobrepersona {
    width: 100%;
}

.sobre-mercado figure {
    float: left;
    width: 32%;
    margin-left: 5px;
    margin-bottom: 30px;
}

.sobre-mercado figcaption {
    text-align: center;
}

.sobre-mercado .sobreicones {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 4em;
}

.sobre-mercado .btnsolucoes {
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: #ED3237;
    color: #fff;
    margin-top: 50px;
    padding: 10px;
    width: 170px;
}

.sobre-mercado .btnsolucoes:hover {
    background-color: #ff5c5c;
}

.sobre-mercado.mercado2 {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.sobre-mercado.mercado2 h2 {
    color: #ED3237;
    font-size: 40px;
    font-weight: 800;
    text-align: left;
}

.sobre-mercado.mercado2 .coluna2 {
    padding-right: 30px;
}

.sobre-mercado.mercado2 p {
    color: #222;
    font-size: 12px;
    text-align: justify;
}

.sobre-mercado .sobreinstituto {
    position: absolute;
    width: 35em;
    top: 0px;
    left: 0;
}

.sobre-mercado.mercado2.mercado3 .coluna2 {
    padding-left: 150px;
}

.sobre-mercado.mercado2.mercado3 h2 {
    color: #444;
    font-size: 40px;
    font-weight: 800;
    text-align: left;
}

.sobre-mercado.mercado2.mercado3 h4 {
    color: #32ede7;
    font-size: 20px;
}

.sobre-mercado.mercado2.mercado3 .btnsolucoes {
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    width: 180px;
    height: 40px;
    float: left;
    font-size: 14px;
}

.sobre-mercado.mercado2.mercado3 .btnsolucoes:hover {
    background-color: #ff5c5c;
}

.sobre-mercado.mercado2.mercado3 .sobreicones {
    height: 40px;
    top: 10px;
    left: 10px;
}

.industria .quadro-texto {
    padding: 50px;
}

.industria .quadro-texto h2 {
    color: #ED3237;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}

.industria .quadro-texto p {
    color: #333;
    font-size: 13px;
    text-align: justify;
}

.slide-boxs.quadro-industria .swiper-slide{
    width: 100%;
    margin-left: 12px;
}

.slide-boxs.quadro-industria .quadro-texto {
    margin: 0;padding: 0;       
    margin-left: -12px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:left;
}

.slide-boxs.quadro-industria.home .quadro-texto {
    padding-top: 6em;
}

.slide-boxs.quadro-industria .quadro-texto {
    padding-top: 8em;
}


.slide-boxs.quadro-industria .quadro-texto .qicone {    
    width: auto;
    height: auto;
    height: 80px;
}

.slide-boxs.quadro-industria .quadro-texto h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.slide-boxs.quadro-industria .quadro-texto p {
    color: #000;
    font-size: 14px;
    text-align: center;
}

.slide-boxs.quadro-industria .quadro-img{
    margin:0;padding: 0;
}
.slide-boxs.quadro-industria .quadro-img img{
    position: relative;
    width: 100%;    
    z-index: 1000;
}

.swiper-pagination.quadro-industria{
    margin-top: -100px;
}

#contato.contato {
    width: 100%;
    height: 140vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#contato h2 {
    color: #222;
    text-align: center;
    font-size: 20px;
}

#contato .quadro-contatos {
    margin: 0;
    padding: 0;
    background: url("../img/background/quadro-contatos.png");
    position: relative;
    margin: 0 auto;
    width: 50em;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#contato .quadro-contatos .contatobox {
    position: relative;
    margin: 0 auto;
    width: 32%;
    height: 200px;
    color: #fff;
    text-align: center;
    left: -5px;
    top: -15px;
}

#contato .quadro-contatos .contatobox a {
    color: #fff !important;
}

#contato .quadro-contatos .contatobox i {
    font-size: 40px;
}

#contato .formulario {
    margin-top: 100px;
}

#contato .formulario .form .contato-nome,
#contato .formulario .form .contato-email,
#contato .formulario .form .contato-fone,
#contato .formulario .form .contato-mensagem {
    position: relative;
    margin: 0 auto;
    width: 70%;
}

#contato .formulario .form input, #contato .formulario .form textarea {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #555;
}

#contato .formulario .form button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border: 0;
    background-color: #ED3237;
    color: #fff;
    padding: 10px 30px 10px 30px;
}

#contato .formulario .form button:hover {
    background-color: #ccc;
}

#mapa .maps iframe,#mapa .imagem img{
    width: 100%;
    height: 75vh;
}


@media(max-width:900px) {
    .sobre-mercado .box-mercado, .sobre-mercado .box-mercado .coluna1, .sobre-mercado .box-mercado .coluna2 {
        display: block;
        width: 100%;
    }

    .sobre-mercado .box-mercado .coluna2, .sobre-mercado.mercado2 .coluna2 {
        height: 600px;
    }

    .sobre-mercado figure {
        margin: 0;
        margin: 20px 20px 20px 20px;
    }

    #contato.contato {
        height: 200vh;
    }

    #contato .quadro-contatos {
        background: none;
        width: 100%;
    }

    #contato .quadro-contatos .contatobox {
        width: 100%;
        background-color: #ED3237;
        margin-bottom: 20px;
    }

    #contato .formulario .form .contato-nome,
    #contato .formulario .form .contato-email,
    #contato .formulario .form .contato-fone,
    #contato .formulario .form .contato-mensagem {
        width: 100%;
    }
    #mapa .maps iframe{
        width: 100%;
        height: 50vh;
    }
    #mapa .imagem img{
        width: 100%;
        height: 100%;
    }
}

.portfolio-details{
    min-height: 400px;
}

@media(min-width:900px) {
    .page .portfolio-details{
        margin: 0 auto;
        width: 85%;
    }
}

/**************************** Footer */

#footer .row.footer {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}

@media(max-width:900px) {
    #maps .contato1, #maps .contato2, #maps .contato3 {
        margin-top: 20px;
    }

    #maps .row2 {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
        margin-left: 6%;
    }

    #footer .row.footer {
        max-width: 100%;
    }
}

#footer .row.footer h4 {
    opacity: 0.7;
}

#footer .row.footer i, #footer .footer-top .footer-links ul i {
    color: #444;
}

#footer .row.footer .social {
    text-align: right;
}

#footer p {
    font-size: 12px;
}

#footer a {
    color: #fff
}

#footer a.b2s {
    font-size: 12px;
}