/* CSS Constanta */

@font-face {
    font-family: SairaBold;
    src: url(/wp-content/themes/constanta/assets/sairafont/Saira-Bold.ttf);
}

button, input {
    border: 0;
}

p {
    font-family: 'Saira', sans-serif;
}

/* TOP BAR */

@media(min-width:900px) {
    .logoalt {
        display: block;
        position: absolute;
        width: 180px;
        top: 0px !important;
        left: 50px;
        z-index: 1000;
    }
    #topbar {
        width: 75%;
        height: 35px;
        left: 20em;
        border-bottom: 1px solid #ED3237;
        float: right !important;
    }
    #header {
        top: 32px;
    }
    #header #navbar {
        width: 75%;
        left: 9em;
    }
    #header .logo {
        display: none;
    }
}

@media(max-width:900px) {
    #header {
        top: 0px
    }
    #header .container {
        position: absolute;
        width: 3em;
    }
    #header .logo img {
        max-height: 40px;
        position: absolute;
        top: 0px;
        left: 12em;
    }
    .logoalt {
        display: none
    }
    #topbar {
        display: none !important;
    }
    #hero {
        height: 100vh;
        padding: 0px 0;
    }
    #hero #heroCaroussel .container {
        padding-left: 10px;
    }
}

#topbar .social i {
    color: #fff;
}

/* SLIDE */

#slide {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 450px;
}

#slide .bls {
    border: 1px solid rgba(0, 0, 0, 0);
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 600px;
}

#slide .bls.pages {
    height: 300px;
    padding-top: 230px;
}

#slide .bl1, #slide .bl2 {
    width: 50%;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0);
}

#slide .bls .bl1 p {
    position: absolute;
    left: 320px;
}

#slide .bls .bl1 h1 {
    position: absolute;
    width: 450px;
    height: 230px;
    left: 100px;
    top: 30px;
    background-color: #ED3237;
    color: #fff;
    font-size: 30px;
    text-align: left;
    padding: 28px;
}

#slide .bls .bl1 h1 span {
    font-size: 55px;
    font-weight: 800;
    font-family: SairaBold;
}

#slide .bls .bl1 .blcs {
    display: block;
    position: absolute;
    width: 450px;
    height: 60px;
    left: 100px;
    top: 280px;
}

#slide .bls .bl1 .blcs img {
    width: 60px;
}

#slide .bls .bl1 .blc1, #slide .bls .bl1 .blc2 {
    width: 50%;
    float: left;
}

#slide .bls .bl1 .blcs p {
    position: relative;
    width: 150px;
    left: 35px;
    top: -55px;
}

#slide .bls .bl2 .persona {
    position: relative;
    width: 550px;
    left: 10px;
    top: -90px;
}

@media(max-width:900px) {
    #slide .bls {
        width: 100%;
    }
    #slide .bl1, #slide .bl2 {
        position: relative;
        width: 100%;
        float: none;
        margin: 1px;
    }
    #slide .bls .bl1 p, #slide .bls .bl1 h1 {
        position: relative;
        left: 0px;
        width: 100%;
        text-align: center;
    }
    #slide .bls .bl1 h1 {
        height: 300px;
    }
    #slide .bls .bl2 .persona {
        display: none;
    }
    #slide .bls .bl1 .blcs {
        display: block;
        width: 100%;
        left: 0px;
        top: 400px;
        padding-left: 50px;
    }
    #slide .bls .bl1 .blc1, #slide .bls .bl1 .blc2 {
        width: 100%;
        float: none;
        height: 70px;
    }
}

/* ICON BOX */

.icon-boxes .icon-box {
    position: relative;
    margin: 0 auto;
    border-radius: 0;
    width: 800px;
    padding: 0;
}

.icon-boxes .icon-box .blc1 {
    width: 45%;
}

.icon-boxes .icon-box .blc2 {
    width: 55%;
    padding-right: 50px;
}

.icon-boxes .icon-box .blc1, .icon-boxes .icon-box .blc2 {
    float: left;
    border: 1px solid rgba(0, 0, 0, 0);
}

.icon-boxes .icon-box .blc1 hr {
    border: 3px solid rgba(255, 0, 0, 1) !important;
    background-color: rgba(255, 0, 0, 1) !important;
    position: relative;
    top: 50px;
    width: 13em;
    opacity: 1;
}

.icon-boxes .icon-box .blc1 h1 {
    font-weight: 900;
    font-size: 30px;
    position: relative;
    width: 13em;
    left: 85px;
    top: 6px;
}

.icon-boxes .icon-box .blc1 img {
    position: relative;
    width: 15em;
    left: 3em;
    top: 1em;
}

.icon-boxes .icon-box .blc1 .forml {
    display: block;
    background-color: #ED3237;
    position: relative;
    width: 230px;
    height: 230px;
    left: 10px;
    top: -40px;
    padding-top: 30px;
    padding-left: 30px;
}

.icon-boxes .icon-box .blc1 .forml p {
    font-weight: 600;
    color: #222;
}

.icon-boxes .icon-box .blc1 .forml h3 {
    position: relative;
    font-weight: 800;
    color: #fff;
    top: -20px;
}

.icon-boxes .icon-box .blc1 .forml input[type=email] {
    position: relative;
    width: 170px;
    top: -15px;
}

.icon-boxes .icon-box .blc1 .forml .btn0, .numeros .btn0 {
    position: relative;
    width: 170px;
    height: 40px;
    background-color: #eee;
}

.icon-boxes .icon-box .blc1 .forml::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #FFF;
    left: 210px;
    top: 210px;
    transform: rotate(-45deg);
}

.icon-boxes .icon-box .blc2 h5 {
    font-weight: 800;
    color: #222;
}

.icon-boxes .icon-box .blc2 p {
    text-align: justify;
}

.icon-boxes .icon-box .blc2 button {
    position: relative;
    width: 160px;
    height: 50px;
    color: #fff;
    margin-right: 30px;
}

.icon-boxes .icon-box .blc2 button.btn1 {
    background-color: #444;
}

.icon-boxes .icon-box .blc2 button.btn2 {
    background-color: #ED3237;
}

.icon-boxes .icon-box .blc2 button.btn3 {
    background-color: #ED3237;
}

.icon-boxes .icon-box .blc2 hr {
    border: 3px solid rgba(255, 0, 0, 1) !important;
    background-color: rgba(255, 0, 0, 1) !important;
    position: relative;
    top: 50px;
    width: 13em;
    opacity: 1;
}

.icon-boxes .icon-box .blc2 h1 {
    font-weight: 900;
    font-size: 30px;
    position: relative;
    width: 13em;
    left: 5px;
    top: 6px;
}

@media(max-width:900px) {
    .icon-boxes .icon-box {
        top: 60px;
    }
    .icon-boxes .icon-box .blc1, .icon-boxes .icon-box .blc2 {
        float: none;
        width: 100%;
        padding-left: 50px;
    }
    .icon-boxes .icon-box .blc2 button {
        margin-left: 20%;
        margin-bottom: 20px;
    }
}

/* Video */

.video {
    position: relative;
    margin: 0 auto;
    width: 820px;
    top: -100px
}

.video img {
    width: 100%;
}

.video i {
    display: block;
    position: absolute;
    top: 133px;
    left: 437px;
    font-size: 85px;
    font-weight: 900;
}

@media(max-width:900px) {
    .video {
        max-width: 100%;
    }
    .video i {
        display: block;
        position: absolute;
        top: 65px;
        left: 218px;
        font-size: 45px;
        font-weight: 900;
    }
}

/*Timeline*/

.timeline {
    position: relative;
    margin: 0 auto;
    top: -100px;
    margin-bottom: -160px;
    background-color: #f7f7f7;
}

.timeline .container {
    position: relative;
    margin: 0 auto;
    top: -70px;
    width: 820px;
    min-height: 250px;
}

.timeline .section-title hr {
    border: 3px solid rgba(255, 0, 0, 1) !important;
    background-color: rgba(255, 0, 0, 1) !important;
    position: relative;
    top: 50px;
    width: 13em;
    opacity: 1;
}

.timeline .section-title h1 {
    font-weight: 900;
    font-size: 30px;
    position: relative;
    width: 13em;
    left: 0px;
    top: 6px;
    text-align: left;
}

.timeline ul#portfolio-flters li {
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    width: 60px;
    text-align: center;
    margin-right: 20px;
}

.timeline .portfolio-info img {
    width: 100%;
    transform: scale(1.3);
}

.timeline .portfolio-info h1 {
    width: 140px;
    height: 140px;
    font-size: 50px;
    font-weight: 900;
    border: 8px solid #ED3237;
    border-radius: 80%;
    padding: 10px 5px 10px 5px;
    text-align: center;
}

.timeline .portfolio-info h1 span {
    position: relative;
    top: -15px
}

.timeline .portfolio-info h4 {
    font-weight: 600;
}

.timeline .portfolio-info p {
    font-size: 13px;
}

@media(max-width:900px) {
    .timeline{
        display: none;
    }   
}

/*quadros*/

.quadros .col-lg-6 {
    margin: 0;
    padding: 0;
}

.quadros .col-lg-6 img {
    width: 100%;
}

.quadros .col-lg-6 img:hover {
    opacity: 0.6;
}

.quadros .numeros {
    background-color: #ED3237;
    height: 300px;
}

.quadros .numeros h3 {
    color: #fff;
    font-weight: 900;
}

.quadros .numeros .instal {
    display: block;
    position: relative;
    width: 18em;
    top: 4em;
    left: 22em;
}

@media(max-width:900px) {
    .quadros .numeros .instal {        
        left: 25%;
    } 
    .numeros{
        display: none;
    }
}


/*circular*/

.quadros .numeros .number {
    border: 1px solid yellow;
}

/* Code By Webdevtrick ( https://webdevtrick.com ) */

#circleBar {
    margin-top: 0;
    text-align: center;
    font-family: 'Staatliches', cursive;
}

#circleBar .rounds {
    width: 20%;
}

#circleBar .round {
    min-height: 50px;
    margin-top: 5px;
    position: relative;
    margin-bottom: 20px;
}

#circleBar .round2 {
    margin-top: 35px;
}

#circleBar .round strong {
    position: absolute;
    top: 80%;
    left: 50%;
    margin-top: -50px;
    transform: translate(-50%);
    font-size: 20px;
    color: #212121;
    font-weight: 600;
}

#circleBar p {
    margin-top: -20px !important;
    color: #212121;
    font-weight: 600;
    font-size: 18px;
}

#circleBar span {
    display: block;
    color: #999;
    font-size: 16px;
    margin-top: 10px;
}

#circleBar span i {
    color: #ff5c5c;
    font-size: 22px;
    margin-right: 6px;
}

section button:hover {
    background-color: #ff5c5c;
}

#pion .content {
    margin-top: -50px;
}

#pion .pionerismo{
    position: relative;
    margin: 0 auto;
    width: 850px;
}

.solucoes .content{
    position: relative;
    margin: 0 auto;
    width: 550px;
    float: right;
    padding-right: 20px;
}

.ssolucoes .content{
    position: relative;
    margin: 0 auto;
    width: 100%;  
}

.solucoes .content2{
    float: left;
    padding-right: 0px;
    padding-left: 20px;
}

.section-bg{
    background-color: #f9f9f9;
}

#industria .industria{
    position: relative;
    margin: 0 auto;
    width: 65%;
}

#pion hr, .solucoes .content hr, .ssolucoes hr, .contato hr {
    border: 3px solid rgba(255, 0, 0, 1) !important;
    background-color: rgba(255, 0, 0, 1) !important;
    position: relative;
    top: 50px;
    width: 13em;
    opacity: 1;
}

.ssolucoes.instalacoes hr{
    top: 70px !important;
}

#pion h1, .solucoes .content h1, .ssolucoes h1, .contato h1 {
    font-weight: 900;
    font-size: 30px;
    position: relative;
    width: 13em;
    left: 0px;
    top: 6px;
    text-align: left;
}

.contato h1{
    width: 100%;
    text-align: center;
}
.contato hr{
    margin: 0 auto;
    margin-top: -22px;
}

.instalacoes h1 span{
    font-size: 50px;
}

.ssolucoes img{    
    position: relative;
    margin: 0 auto;
    width: 70%;
    margin-left: 13%;
}

.ssolucoes h1,.ssolucoes hr,.industria h1, .industria hr{
    text-align: center;
    margin-left: 40%;
}
.industria h1, .industria hr{
    text-align: center;
    margin-left: 27%;
}

#industria .listas{
    margin-top: 80px;
    margin-bottom: 50px;
}

#industria .listas i{
    color: #ED3237;
}

#industria .lado1 img{
    width: 250px;
    float: right;
    margin-top: 20px;
}

#pion h5 {
    font-weight: 600;
    font-size: 16px;
}

#pion p, .solucoes .content p {
    font-size: 14px;
    text-align: justify;
}

@media(max-width:900px) {
    #pion .pionerismo,.solucoes .content,.ssolucoes .content {
        width: 100%;
        padding: 10px;
    }
    .ssolucoes img{
        width: 100%;
        margin-left: 0;
    }
    .ssolucoes h1,.ssolucoes hr,.industria h1, .industria hr{
        margin-left: 20%;
    }
    .industria h1, .industria hr{
        margin-left: 0%;
    }
}

#resp .cta.resp {
    width: 100%;
}

#resp .container {
    position: relative;
    margin: 0 auto;
    width: 950px;
    z-index: 2000;
}

#resp .content {
    margin-top: -50px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
}

#resp .respons {
    width: 100%;
    margin: 0 auto;
    height: 300px;
}

#resp .slide {
    display: none;
}

#resp hr {
    border: 3px solid rgba(255, 0, 0, 1) !important;
    background-color: rgba(255, 0, 0, 1) !important;
    position: relative;
    margin: 0 auto;
    top: 35px;
    width: 13em;
    opacity: 1;
}

#resp .respon1 {
    background-color: #eee;
    padding: 50px 90px 90px 50px;
}

#resp .respon2 {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

#resp .respon2 img {
    width: 100%;
}

#resp h1 {
    font-weight: 900;
    font-size: 30px;
    position: relative;
    margin: 0 auto;
    width: 13em;
    left: 0px;
    top: 6px;
    text-align: center;
}

#resp h5 {
    font-weight: 600;
    font-size: 22px;
}

#resp p {
    font-size: 14px;
}

#resp .buttons {
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    width: 1050px;
    top: 55%;
    left: -50px;
}

#resp button {
    position: relative;
    padding-left: 22px;
    padding-right: 22px;
    background-color: #ff5d5dbe;
    color: #fff;
}

#resp button.prev {
    float: left;
}

#resp button.next {
    float: right;
}

#resp button:hover {
    background-color: #ff5d5d;
}

#resp i {
    font-size: 50px;
}

@media(max-width:900px) {
    #resp {
        display: none;
    }
}

#recado {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
    background: url("../img/bg2.jpg") center center;
    background-size: cover;
    position: relative;
    margin-bottom: -90px;
    z-index: 99;
    transition: 0.3s;
}

#recado .container {
    color: #fff;
    text-align: center;
}

#recado .container h2 {
    font-weight: 700;
}

#recado .container p {
    font-size: 12px;
}

#recado .container button {
    font-size: 12px;
    padding: 10px;
    width: 150px;
    color: #ED3237;
}

#recado .container button:hover {
    background-color: #bbb;
}

#noticias {
    margin-top: 80px;
}

#noticias .row.noticias {
    position: relative;
    margin: 0 auto;
    width: 960px;
}

#noticias .box {
    padding: 0;
    margin: 0;
    box-shadow: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    height: 500px;
    text-align: left;
    margin-bottom: 20px;
}

#noticias .box img {
    width: 101%;
}

#noticias .box .content {
    padding: 30px;
    text-align: left;
}

#noticias .box button {
    position: absolute;
    padding: 10px;
    width: 130px;
    background-color: #ED3237;
    bottom: 20px;
    color: #fff;
}

#noticias .box button:hover {
    background-color: #ff5c5c;
}

#noticias hr {
    border: 3px solid rgba(255, 0, 0, 1) !important;
    background-color: rgba(255, 0, 0, 1) !important;
    position: relative;
    margin: 0 auto;
    top: 35px;
    width: 10em;
    opacity: 1;
}

#noticias h1 {
    font-weight: 900;
    font-size: 30px;
    position: relative;
    margin: 0 auto;
    width: 10em;
    top: 6px;
}

#noticias p {
    font-size: 13px;
    font-style: normal;
}

#noticias .maisnews{
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: #ED3237;
    color: #fff;
    margin-top: 50px;
    padding: 10px;
}

#noticias .maisnews:hover{
    background-color: #ff5c5c;
}

@media(max-width:900px) {
    #noticias .row.noticias {
        width: 100%;
    }
}

#hero.solucoes .text{
    color: #fff
}

#hero.solucoes .text h1{
    position: relative;
    font-size: 50px;
    font-weight: 900;
    margin-top: -30px;
}
.quadros.solucoes{
    margin-top: 0px;
}

#maps{
    margin-top: -60px;
}

#maps .mapa{
    width: 100%;
    height: 600px;
}

#maps .row2{
    padding-left: 60px;
    padding-right: 60px;
    margin-top: -150px;
    margin-left: 3%;
}

#maps .contato1,#maps .contato2,#maps .contato3{
    display: block;
    position: relative;
    width: 17em;
    min-height: 250px;
    background-color: #ED3237;
    color: #fff;
    margin-left: 35px;
    text-align: center;
}

#maps .contato1 i,#maps .contato2 i,#maps .contato3 i{
    font-size: 80px;
}

#maps .contato3 a{
    color: #fff;
}

#maps .contato1::after,#maps .contato2::after,#maps .contato3::after {
    content: "";
    position: absolute;
    top: 80%;
    left:90%;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background-color: #fff;
}

#contato .row.formulario{
    position: relative;
    margin: 0 auto;
    width: 80%;
}

#contato .formulario{
    margin-top: 50px;
}

#contato input,#contato textarea{
    border: 0;
    border-bottom: 1px solid #999;
}

#contato button{
    border: 0;
    background-color: #ED3237;
    color: #444;
    font-weight: 800;
    width: 100%;
}
#contato button:hover{
    background-color: #ff5c5c;
    color: #fff;
}



#footer .row.footer {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}

@media(max-width:900px) {
    #maps .contato1,#maps .contato2,#maps .contato3{
        margin-top: 20px;
    }
    #maps .row2{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
        margin-left: 6%;
    }
    #footer .row.footer {
        max-width: 100%;
    }
}

#footer .row.footer h4 {
    opacity: 0.7;
}

#footer .row.footer i, #footer .footer-top .footer-links ul i {
    color: #444;
}

#footer .row.footer .social {
    text-align: right;
}

#footer p {
    font-size: 12px;
}

#footer a {
    color: #fff
}

#footer a.b2s {
    font-size: 12px;
}

